@use '../var';

.header {
    outline: var.$Header-Outline 2px solid;
    border-radius: 3px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: .9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 50%;
}

.scoreGroup {
    text-align: center;
    border: 1px white solid;
    flex-basis: 25%;
    padding: 0.3rem .1rem;
    font-size: 10px;
    color: var.$Dark-Text;
    border-radius: inherit;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.scoreGroup__text {
    color: var.$Score-Text;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.scoreGroup__score {
    flex-basis: 80%;
    font-size: 35px;
}


@media screen and (min-width: 750px){
    .header{
        width: 51.3%;
    }
}


@media screen and (min-width: 900px) {

    body{
        min-height: 100vh;
    }

    .header{
        align-items: stretch;
    }

    .logoContainer {
        flex-basis: 20%;
    }

    .logo {
        max-width: 100%;
    }

    .scoreGroup {
        flex-basis: 23%;
        padding-top: 1rem;
        gap: .16rem;
        border-radius: 10px;

    }

    .scoreGroup__text{
        font-size: 17px;
        letter-spacing: 2px;
    }

    .scoreGroup__score{
        font-size: 55px;
    }
}