@use '../var';

.showModal {
    color: white;
    background-color: transparent;
    border: thin white solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem 2rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .2s all ease-in-out;
    margin-top: 1rem;
    display: block;
}

.showModal:hover {
    background-color: white;
    background-clip: text;
    color: var.$Dark-Text;
}

.modalGroup {
    font-weight: 600;
    font-size: 30px;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all .5s;
    top: -100vh;
    padding: 2rem;
    user-select: none;
}

.modalGroup__heading {
    z-index: 10;
    color: var.$Dark-Text;
}

.modalGroup__img{
    max-width: 100%;
    height: auto;
}

.modalGroup__icon {
    width: 10%;
    height: auto;
    fill: var.$Dark-Text;
    cursor: pointer;
}

.modalGroup__icon_path{
    color: blue;
};

.modalGroup.active {
    top: 0vh;
}


@media screen and (min-width: 900px){
    .showModal{
        margin-right: 2rem;
    }


    .modalGroup{
        width: 30rem;
        height: auto;
        border-radius: 2%;
    }

    .modalGroup.active{
        top: 10vh;
    }

    .modalGroup__icon{
        position: absolute;
        top: 5vh;
        right: 3vw;
        width: 5%;
    }
}