@use '../var';
.container{
    height: 18rem;
}


.options {
    display: grid;
    user-select: none;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: flex-start;
    background-image: url('https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/main/images/bg-pentagon.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .2s ease;
    width: 17.438rem;
    height: auto;
    column-gap: 2.5rem;
    row-gap: 1.5rem;
}

.noBackground {
    background-image: none;
}

.noBackground>* {
    grid-column: auto !important;
    justify-self: auto !important;
}

.noBackground>*:hover {
    transform: none !important;
}

.hidden{
    visibility: hidden;
    border: 10px red solid;
}

.result-group {
    text-align: center;
    grid-column: -3/-1;
    padding-top: 3rem;
}

.result-group__text {
    display: block;
    font-size: 55px;
    margin-bottom: 1rem;
    height: 100%;
    font-family: 'Barlow Semi Condensed';
    font-weight: 700;
}

.result-group__button {
    border: none;
    color: var.$Dark-Text;
    height: 3rem;
    width: 10rem;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Barlow Semi Condensed';
    font-weight: 600;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.result-group__button:hover {
    color: red;
}


@media screen and (min-width: 900px) {

    .container{
        height: 26.5rem;
    }
    .options {
        width: 25rem;
        position: relative;
        column-gap: 3.5rem;
        row-gap: 1rem;
        background-size: 80%;
        margin-top: 2.5rem;
        margin-top: 2rem;
        column-gap: 3rem;
    }
    
    .result-group {
        position: absolute;
        padding: 0;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}