@use '../var';

.options {
    display: grid;
    user-select: none;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    background-image: url('https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/main/images/bg-pentagon.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: width .6s ease;
    //width: 17.438rem;
    //height:20.717rem;
    column-gap: 2.5rem;
    row-gap: 1rem;
    transition: all .5s ease;
    position: relative;
}

.noBackground {
    background-image: none;
}

.noBackground > * {
    grid-column:  auto !important;
    justify-self: center !important;
}


.hidden{
    visibility: hidden;
    border: 10px red solid;
}

.result-group {
    text-align: center;
    padding-top: 3rem;
    width: 100%;
    grid-column: 1 / -1 !important;
}

.result-group__text {
    display: block;
    font-size: 55px;
    margin-bottom: 1rem;
    height: 100%;
    font-family: 'Barlow Semi Condensed';
    font-weight: 700;
}

.result-group__button {
    border: none;
    color: var.$Dark-Text;
    height: 3rem;
    width: 10rem;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Barlow Semi Condensed';
    font-weight: 600;
    cursor: pointer;
    //transition: .2s all ease-in-out;
}

.result-group__button:hover {
    color: red;
}


@media screen and (min-width: 900px) {

    .options {
        width: 20rem;
        position: relative;
        column-gap: 2rem;
        row-gap: 0rem;
        background-size: 70%;
        margin-top: 2rem;
        height: 20.299rem;
    }

    .noBackground{
        display: flex;
        //gap: 1rem;
        width: 38rem;
        align-items: center;
        justify-content: space-between;
    }

    .options.active{
        display: flex;
        width: auto;
    }

    .options.active1 {
        width: auto;
        gap: 3.5rem;
        display: flex;
        align-items: flex-start;
    }

    .options.active2 > * {
        width: 30%;
    }

    .options.active2 {
        width: 80%;
        justify-content: space-between;
    }

    .result-group {
        column-gap: 1/-1;
        position: absolute;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}