.options {
    display: grid;
    user-select: none;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: flex-start;
    background-image: url('https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/main/images/bg-pentagon.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .2s ease;
    width: 17.438rem;
    height:20.717rem;
    column-gap: 2.5rem;
}