@use '../var';


.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    transition: .2s all ease-in-out;
    //font-size: 20px;
}

/*
.option--1{
    grid-column: 1 / 3;
}

.option--2, .option--5{
    justify-self: flex-start;
}

.option--3, .option--4{
    justify-self: flex-end;
}


.option--4, .option--5{
    margin-top: 1rem;
}
*/

.wrapper {
    border-radius: 50%;
    padding: .6rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    cursor: pointer;
    padding: .6em;
}

.option:hover {
    transform: scale(1.2);
}

.wrapper__item {
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2.3rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 5px hsl(0, 0%, 80%) inset;
    position: static;
    z-index: 10;
    padding: 2.3em;
}


.scissors {
    grid-column: 1 / 3;
    div{
        background-image: linear-gradient(var.$Scissors-Gradient);
        box-shadow: 0px 5px hsl(39, 89%, 40%);
        span{
            background-image: url('https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/c599c840ffd240848ccce563b3d9bf45cf67a3d1/images/icon-scissors.svg');
            background-size: 50%;
        }
    }
}

.spock{
    justify-self: flex-start;
    div{
        background-image: linear-gradient(var.$Cyan);
        box-shadow: 0px 5px hsl(189, 59%, 40%);
        span{
            background-image: url('https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/main/images/icon-spock.svg');
            background-size: 50%;
        }
    }
}

.papper {
    justify-self: flex-end;
    div{
        background-image: linear-gradient(var.$Paper-Gradient);
        box-shadow: 0px 5px hsl(230, 89%, 52%);
        span{
            background-image: url('https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/c599c840ffd240848ccce563b3d9bf45cf67a3d1/images/icon-paper.svg');
            background-size: 50%;
        }
    }
}



.lizard{
    justify-self: flex-end;
    div{
        background-image: linear-gradient(var.$Lizard-Gradient);
        box-shadow: 0px 5px hsl(261, 73%, 50%);
        span{
            background-image: url('https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/main/images/icon-lizard.svg');
            background-size: 50%;
        }
    }
}


.rock {
    justify-self: flex-start;
    div{
        background-image: linear-gradient(var.$Rock-Gradient);
        box-shadow: 0px 5px hsl(349, 71%, 42%);
        span{
            background-image: url('https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/c599c840ffd240848ccce563b3d9bf45cf67a3d1/images/icon-rock.svg');
            background-size: 50%;
        }
    }
}


.wrapper--winner {
    outline: 15px rgba(96, 110, 133, .3) solid;
    border-radius: 50%;
    z-index: 5;
}


.wrapper--winner::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    outline: 20px rgba(96, 110, 133, .2) solid;
    transform: scale(1.31);
    left: 0;
    top: 0;
    z-index: 0;
}

.wrapper--winner::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    outline: 20px rgba(96, 110, 133, .1) solid;
    transform: scale(1.84);
    left: 0;
    top: 0;
    z-index: 0;
}



@media screen and (min-width: 900px) {
    .option{
        font-size: 18px;
    }

    .option--2, .option--3{
        //margin-bottom: 1rem;
        justify-self: center;
    }
    
}